/* Eléments principaux de la page */

body {
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    max-width: 1335px;
    margin: auto;
}

.flexboxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

/* Couleurs */

.colorLightBlue {
    color: #DEEBFF;
}

.colorDarkBlue {
    color: #0065FC;
}

.colorGrey {
    color: #f2f2f2;
}

.backgroundGrey {
    background-color: #f2f2f2;
}

.backgroundBlue {
    background-color: #0065FC;
}

/* Section 1 - Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#logo img {
    width: 100px;
    height: 50px;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: black
}

.link {
    padding-top: 39px;
}

.links {
    padding-right: 30px;
}

.linkSignUp {
    padding-right: 30px;
    font-weight: bold;
    color: #0065FC;
}

.links a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

/* Section 2 - Recherche de la ville */

#cityFilterInfo p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.city {
    width: 420px;
    border-radius: 15px;
    border: 0.5px solid #f2f2f2;
    margin-top: 15px;
}

.iconMap {
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.searchArea {
    height: 50px;
    width: 235px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.paddingSearch {
    padding-left: 20px ;
}

.searchButton {
    height: 50px;
    width: 135px;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
}

.searchButton i {
    display: none;
}

/* Section 2 - Filtre */

#filter {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.filterList {
    display: flex;
    flex-wrap: wrap;
}

.filterTitle {
    padding-bottom: 10px;
    font-size: 1.2em;
    margin-right: 20px;

}

.filterTextIcon {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.filterTextIcon:hover {
    background-color: #0065FC;
    color: white
}

.filterIcon {
    border-radius: 25px;
    width: 53px;    /* 53px et non 50px pour recouvrir la bordure grise de 3px */
    height: 53px;    
    color: #0065FC;
    background-color: #DEEBFF;
}

.filterText {
    height: 50px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius:0 25px 25px 0;
    font-weight: bold;
}

/* Section 2 - Info */

#info {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    margin-top: 10px;
}

.infoIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 15px;
}

/* Section 3 - Hébergements */

.accomodationsAndPopularBox {
    display: flex;
    justify-content: space-around;
}

#accomodations {
    flex: 2;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
    display:flex;
    flex-direction: column;
} 

#accomodations h2 {
    margin-top: 40px;
}

.accomodationsBox {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

section a {
    text-decoration: none;
    color: black;
}

#accomodations a {
    margin-bottom: 30px;
}

.backgroundHotel {
    width: 235px;
    height: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.1);
}
 
.imageHotel {
    width: 235px;
    height: 113px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.dataHotel {
    margin-left:10px;
    margin-top: -5px;
}

#accomodations p {
    font-size: 0.9em;
    margin-bottom: 2px;
    margin-top: -10px;
}

.backgroundHotel:hover {
    transform: scale(1.025)
}

.showMore {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 45px;
}

.showMore :hover{
    text-decoration: underline;
}

/* Section 3 - Hébergements - Aside "Les plus populaires" */

aside {
    flex: 1;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 35px;
}

.popularTitle {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

aside h2 {
    margin-top: 40px;
}

.imagePopular {
    height: 135px;
    width: 35%;   
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.backgroundPopular{
    display: flex;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.1);
    margin-bottom: 30px;
}

.dataPopular {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding-left: 5%;  
    padding-right: 5%;  
    width: 55%;
}

aside h3 {
    margin-bottom: 0px;
}

aside p {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.popularStars {
    margin-top: auto;
    padding-bottom: 10px;
}

.backgroundPopular:hover {
    transform: scale(1.025);
}

/* Section 4 - Activites */

#activities {
    margin-top: 50px;
    margin-bottom: 50px;
}

.allActivities {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.blocActivities {
    width: 23%;    
    display:flex;
    flex-direction: column;
}

.marginBottomActivities25 {
    margin-bottom: 40px;
}

.backgroundActivities1, .backgroundActivities2, .backgroundActivities3, .backgroundActivities4, .backgroundActivities5, .backgroundActivities6 {
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.1);
}

.backgroundActivities1 {
    height: 445px;
}

.backgroundActivities2 {
    height: 240px;
}

.backgroundActivities3 {
    height: 165px;
}

.backgroundActivities4 {
    height: 445px;
}

.backgroundActivities5 {
    height: 195px;
}

.backgroundActivities6 {
    height: 210px;
}

.imageActivities1, .imageActivities2, .imageActivities3, .imageActivities4, .imageActivities5, .imageActivities6 {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.imageActivities1 {
    height: 390px;
}

.imageActivities2 {
    height: 180px;
}

.imageActivities3 {
    height: 110px;
}

.imageActivities4 {
    height: 390px;
}

.imageActivities5 {
    height: 140px;
}

.imageActivities6 {
    height: 150px;
}

.backgroundActivities1:hover, .backgroundActivities2:hover, .backgroundActivities3:hover, .backgroundActivities4:hover, .backgroundActivities5:hover, .backgroundActivities6:hover {
    transform: scale(1.025);
} 

.dataActivities {
    margin-left:20px ;    
}

/* Section 5 - Footer */

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 25%;
    padding-bottom: 30px;
}

.blocFooter {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 30px;
}

footer a {
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

footer a:hover {
    color: #0065FC;
}

/* Format petit écran */

@media all and (max-width: 1360px) {
    header, #cityFilterInfo, #activities {
        margin-left: 20px;
    }
}

/* Format Tablette*/

@media all and (max-width: 1090px) {

    .accomodationsAndPopularBox {
        display: flex;
        flex-direction: column-reverse;
    }

    aside {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    #accomodations {
        margin-right: 0px;
    }

    #activities {
        margin-right: 20px;
    }

    .dataActivities {
        margin-left:10px ;
        margin-top: 5px;    
    }

    .footer {
        padding-right: 50px;
    }
}


/* Format Mobile*/

@media all and (max-width: 620px)  {

    body {
        width: 100%;
    }

    header, #cityFilterInfo, #activities {
        margin-left: 0px;
    }

    /* Header - Mobile */

    header {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: stretch;
        height: 140px;
    }
    
    #logo img {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    
    .linkSignUp {
        position: absolute;
        right: 5px;
        top: 40px;
    }
    
    .links {
        width: 100%;
        display: flex;
        padding-right: 0px;
    }

    .link {
        width: 50%;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 2px #f2f2f2 solid;
    }

    .links a:hover {
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }
    
    /* Section ville, filtres, info - Mobile */

    #cityFilterInfo {
        margin-left: 20px;
    }

    .filterTextIcon {
        margin-right: 10px;
    }

    /* Search button - Mobile */

    .searchButton span {
        display: none;
    }

    .searchButton i {
        display: inline-block;
    }

    .searchButton {
        width: 50px;
        border-radius: 15px;
    }

    .city {
        width: 335px;
    }

    /* Les plus populaires - Mobile */
    aside {
        border-radius: 0px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .backgroundPopular{
        margin-bottom: 10px;
    }

    /* Hébergements - Mobile */

    #accomodations {
        border-radius: 0px;
        background-color: white;
        padding-left: 20px;
        margin-top: 20px;
    }

    #accomodations h2 {
        margin-top: 0px;
    }

    .backgroundHotel {
        width: 325px;
    }

    #accomodations a {
        margin-bottom: 15px;
    }

    .imageHotel {
        width: 325px;
    }

    /* Activités - Mobile */

    #activities {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 0px;
    }

    .allActivities {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .blocActivities {
        width: 100%;
    }

    .marginBottomActivities25 {
        margin-bottom: 0px;
    }

    #activities a {
        margin-bottom: 25px;
    }

    .backgroundActivities1, .backgroundActivities2, .backgroundActivities3, .backgroundActivities4, .backgroundActivities5, .backgroundActivities6 {
        height: 190px;
    }

    .imageActivities1, .imageActivities2, .imageActivities3, .imageActivities4, .imageActivities5, .imageActivities6 {
        height: 135px;
    }

    .dataActivities {
        margin-left:20px ;
        margin-top: 15px;    
    }

    /* Footer - Mobile */

    footer {
        margin-left: 0px;
    }

    .footer {
        margin-top: -30px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

    .blocFooter {
        margin-top: 20px;
        margin-left: 20px;
    }
}





