/* Eléments principaux de la page */

body {
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    max-width: 1440px;
    width: 98%;
    margin: auto;
}

.flexboxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexboxSpacebetween {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flexboxSpacearound {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.flexboxColumnBetween {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexboxColumnCenter {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.textBold {
    font-weight: bold;
}

/* Couleurs */

.colorLightBlue {
    color: #DEEBFF;
}

.colorDarkBlue {
    color: #0065FC;
}

.colorGrey {
    color: #f2f2f2;
}

.backgroundGrey {
    background-color: #f2f2f2;
}

.backgroundBlue {
    background-color: #0065FC;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
}

h1 {
    font-size: 1.4em;
}

/* Navigation */

.navBar {
    height: 100px;
    width: 100%
}

.logo {
    padding-top: 20px;
}

#logo img {
    width: 100px;
    height: 50px;
}

.sizeLinks {
    width: 40%;
}

.link1 {
    height: 99px;
    width: 140px;
    border-top: 1px #0065FC solid;
}

.link2 {
    color: black;
}

.link3 {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color:#0065FC;
}


/*Section 1 - Recherche de la ville */

.ville {
    width: 420px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    margin-top: 15px;
}

.iconMap {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.searchArea {
    height: 50px;
    width: 235px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.paddingSearch {
    padding-left: 20px ;
}

.searchButton {
    height: 50px;
    width: 135px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/* Section 1 - Filtres */

#filtre {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.marginFiltreTitre {
    margin-right: 30px;
}

.filtreTextIcon {
    border: 3px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreTextIcon:hover {
    background-color: #0065FC;
    color: white
}

.filtreIcon {
    border-radius: 25px;
    width: 53px;    /* 53px et non 50px pour recouvrir la bordure grise de 3px */
    height: 53px;    
    color: #0065FC;
    background-color: #DEEBFF;
}

.filtreText {
    height: 50px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius:0 25px 25px 0;
}

/* Section 1 - Info */

.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.infoIcon {
    width: 20px;
    height: 20px;
    border: 1.5px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 15px;
}

/* Section 2 - Hébergements */

.flexboxSpacearound {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#hebergement {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
} 

.backgroundHotel {
    width: 30%;
    height: 225px;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
}

.bloc1 {
    margin-bottom: 30px;
}

.bloc2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.marginDataHotel {
    margin-left:10px ;    
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

.imageHotel1 {
    width: 100%;
    height: 120px;
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageHotel2 {
    width: 100%;
    height: 120px;
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageHotel3 {
    width: 100%;
    height: 120px;
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageHotel4 {
    width: 100%;
    height: 120px;
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageHotel5 {
    width: 100%;
    height: 120px;
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageHotel6 {
    width: 100%;
    height: 120px;
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}


/* Section 2 - Aside "Les plus populaires" */

aside {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 40px;
}

/* .marginDataPopulaire {
    margin-top: 20px;
    margin-bottom: 10px;
} */

.imagePopulaire1 {
    width: 40%;
    height: 140px;
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 0 0 25px;
}

.imagePopulaire2 {
    width: 40%;
    height: 140px;
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 0 0 25px;
}

.imagePopulaire3 {
    width: 40%;
    height: 140px;
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 0 0 25px;
}

.backgroundPopulaire {
    height: auto;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
}

.backgroundPopulaire12 {
    margin-bottom: 30px;
}

.sizeDataPopulaire {
    width: 50% ;  
    padding-left: 5%;  
    padding-right: 5%;

}

/* Section 3 - Activites */

#activites {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blocActivites {
    width: 25%;
    height: 450px;
}

.backgroundActivites1 {
    width: 90%;
    height: 445px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.backgroundActivites2 {
    width: 90%;
    height: 240px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.backgroundActivites3 {
    width: 90%;
    height: 165px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.backgroundActivites4 {
    width: 90%;
    height: 445px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.backgroundActivites5 {
    width: 90%;
    height: 195px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.backgroundActivites6 {
    width: 90%;
    height: 210px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.marginDataActivites {
    margin-left:10px ;    
}

.imageActivites1 {
    width: 100%;
    height: 390px;
    background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageActivites2 {
    width: 100%;
    height: 180px;
    background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageActivites3 {
    width: 100%;
    height: 110px;
    background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageActivites4 {
    width: 100%;
    height: 390px;
    background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageActivites5 {
    width: 100%;
    height: 140px;
    background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

.imageActivites6 {
    width: 100%;
    height: 150px;
    background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
}

/* Footer */

.footer {
    height: 235px;
    margin-top: 60px;
    padding-left: 5%;
    padding-right: 30%;
}

.blocFooter {
    height: 150px;
}